/* TODO(you): Write the CSS to finish the assignment! */
.choice-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choice{
  display: flex;
  background-color: #f4f4f4;
  flex-direction: column;
  width: 32.5%;
  border:1px #dcdcdc solid;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}



.click_effect{
  background-color: #cfe3ff !important;
}

.opacity{
  opacity: 0.6;
}

.result{
  width:100%;
  background-color: #ffc8b4;
  padding:20px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.result_title{
  margin-bottom: 18px;
}

.result_desc{
  margin-bottom: 18px;
}

.result_button{
  background:#cecece;
	text-align:center;
  font-size:30px;
	height:50px;
	line-height:50px;
}

@media screen and (max-width: 700px){
  article{
    width: 95%;
  }
}
